@{
    ViewData["Title"] = "Завършена поръчка";
}

<h2>@ViewData["Title"]</h2>
<h4>Цена: @ViewData["orderFinalPrice"] лв.</h4>
<h4>Номерът на вашата поръчка е @ViewData["orderId"] очаквайте обаждане за да порвърдите вашата поръчка.</h4>
<h4>Благодарим ви.</h4>