@{
    ViewData["Title"] = "FinishOrder";
}

<h2>@ViewData["Title"]</h2>
<h4>Price: @ViewData["orderFinalPrice"] lv.</h4>
<h4>Your order Id is @ViewData["orderId"] expect a phonecall to confirm your order</h4>
<h4>Thank you</h4>