@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = Localizer["Forgot password confirmation."];
}
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<h2>@ViewData["Title"]</h2>
<p>
    @Localizer["Please check your email to reset your password."]
</p>

