@model IEnumerable<IndexProductsCardViewModel>
@{
    ViewData["Title"] = "Начало";
}

<h2>Циркон</h2>
<h4>Добре дошли в нашият онлайн магазин!</h4>
<div class="row">
    @Html.DisplayForModel()
</div>  