@model IEnumerable<IndexProductsCardViewModel>
@{
    ViewData["Title"] = "Home";
}

<h2>@ViewData["Title"]</h2>
<h4>Wellcome to the Admin area!`</h4>
<div class="row">
    @Html.DisplayForModel()
</div>