@model IEnumerable<IndexProductsCardViewModel>
@{
    ViewData["Title"] = "Начало";
}

<h2>@ViewData["Title"]</h2>
<h4>Добре дошли в Админ пространството</h4>
<div class="row">
    @Html.DisplayForModel()
</div>