@page
@model Zircon.App.Pages.Categories.AllModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["All Categories"];
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    @Html.DisplayFor(model => model.AllCategories)
</div>
