@page "{id}"
@using Microsoft.AspNetCore.Mvc.Localization
@model Zircon.App.Pages.Categories.CategoryProductsModel
@{
    ViewData["Title"] = Localizer["Products from this category"];
}
@inject IViewLocalizer Localizer

<h2>@ViewData["Title"]</h2>

<div class="row">
    @Html.DisplayFor(model => model.AllProducts)
</div>